.modes-section {
  @include media(desktop) {
  }
}

.modes-bg-wrapper {
  padding-top: 50px;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    padding-top: 100px;
    max-width: 1440px;
  }
}

.modes-container {
  @include media(desktop) {
  }
}

.modes-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

.modes-text-wrapper {
  @include media(desktop) {
    max-width: 915px;
  }
}

.modes-title {
  @include media(desktop) {
    text-align: left;
  }
}

.modes-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #010101;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.modes-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
    min-width: 333px;
  }
}
