<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <div class="faq-content-wrapper">
        <h2 class="section-title faq-title">FAQ</h2>
        <ul class="faq-list">
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">How do I get rid of the ads?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              There’s a one-time buy in the settings to kill the ads if they’re
              bothering you. We tried to keep them out of the way of the actual
              gameplay though so you don't lose a run because of a pop-up.
              Buying that also helps us keep the servers running and add new
              stuff to the game.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is my high score safe?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yeah, the game saves your best distance to your phone the second
              you fall off. If you've got an internet connection, it’ll also
              sync up with the global boards so you can flex on your friends.
              You can check your stats on the main menu anytime.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >The game feels way too fast, any tips?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-caret"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              It’s supposed to get faster the longer you survive, that’s the
              challenge. A big tip is to look a bit ahead of your character
              instead of right at it— gives your brain more time to process the
              next turn. It takes a few tries to get the rhythm but you’ll get
              it.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
