<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">Don't fall off the edge</h1>
          <p class="hero-subtitle">
            One path, one finger, and a lot of near-misses.
          </p>
          <p class="hero-text">
            Forget complex tutorials or long stories. In One Trail, you're just
            trying to keep a moving object from flying off a narrow track. The
            path twists, breaks, and speeds up, so you have to stay focused. One
            wrong tap and it’s game over—no second chances, just a quick restart
            to try again.
          </p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.YsoCorp.OneTrail&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            >Play Now</a
          >
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="356"
            height="633"
          />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="190"
            height="338"
          />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="190"
            height="338"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
