<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">
            Build stuff. Shape it however you want. Make it yours.
          </h1>
          <p class="hero-subtitle">
            Place nodes, sculpt glowing vectors, and create cool shapes in this
            super precise puzzle game where you create shapes.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="356"
            height="635"
          />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="190"
            height="339"
          />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="190"
            height="339"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
