<section class="section modes-section" id="modes">
  <div class="modes-bg-wrapper">
    <div class="container modes-container">
      <div class="modes-content-wrapper">
        <div class="modes-text-wrapper">
          <h2 class="section-title modes-title">Difficulty Curve</h2>
          <p class="modes-text">
            The game doesn't just throw you into the deep end immediately. You
            start with a wider path and slower speeds to get the hang of the
            controls. But once you hit a decent distance, the "training wheels"
            come off. The path starts shrinking, the turns get way more
            frequent, and you’ll start seeing gaps you have to time perfectly.
            By the time you’re at the master levels, the path is a total blur.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/modes/modes-img-desk.png"
            media="(min-width: 1440px)"
            width="333"
            height="592"
          />
          <source
            srcset="./img/modes/modes-img-mob.png"
            width="190"
            height="338"
          />
          <img
            class="modes-img"
            src="./img/modes/modes-img-mob.png"
            alt="Screenshot of the game"
            width="190"
            height="338"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
