<section class="reviews-section section" id="reviews">
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <h2 class="section-title reviews-title">Player Reviews</h2>
      <ul class="reviews-list">
        <li class="reviews-list-item">
          <h3 class="reviews-item-name">Samantha R.</h3>
          <p class="reviews-item-text">
            "honestly so addictive lol. i thought i'd play for like 2 mins while
            waiting for my coffee but almost missed my name being called cuz i
            was so close to my high score. it’s just a nice simple way to kill
            time without having to learn a bunch of complicated stuff. 5 stars."
          </p>
        </li>
        <li class="reviews-list-item">
          <h3 class="reviews-item-name">Jason Vance</h3>
          <p class="reviews-item-text">
            "The controls are actually good, which is lucky because i'd have
            smashed my phone by now otherwise. falling off at the very last
            second is the worst feeling ever but i always end up hitting restart
            anyway. definitely tests your reflexes. great if u like high score
            games."
          </p>
        </li>
        <li class="reviews-list-item">
          <h3 class="reviews-item-name">Mia Chen</h3>
          <p class="reviews-item-text">
            "love that it opens fast. no 20 minute loading screens or tutorials
            i have to skip. the path is different every time so it doesnt get
            boring even after playing a lot. i usually play it on the bus home
            since u only need one hand to play. really solid time killer."
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
